<?xml version="1.0" encoding="utf-8"?>
<launch>
	<param name="GPSBaxterPlugin/type" value="GPSBaxterPlugin" />
    <!-- GDB functionality -->
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
    <rosparam command="load" file="$(find gps_agent_pkg)/launch/baxter_left_controller.yaml" />

    <!-- controller params -->
    <param name="GPSBaxterPlugin/root_name" value="torso" />
    <param name="GPSBaxterPlugin/active_tip_name" value="left_gripper" />
    <param name="GPSBaxterPlugin/passive_tip_name" value="right_gripper" />

    <!-- kalman filter matrices -->
    <param name="GPSBaxterPlugin/encoder_filter_params" textfile="$(find gps_agent_pkg)/encoder_filter_params.txt" />
    <!-- send baxter urdf to param server -->
    <!--param name="robot_description" command="$(find xacro)/xacro.py - -inorder $(find baxter_description)/urdf/baxter.urdf.xacro" -->

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description"
	   command="cat '$(find baxter_description)/urdf/baxter.urdf'" />
    <!-- Load hardware interface -->
    <node name="baxter_hardware_interface" pkg="gps_agent_pkg" type="baxter_hardware_interface"
	  respawn="false" output="screen" launch-prefix="$(arg launch_prefix)"/>

    <!-- Spawn Controller -->
    <node name="controller_spawner"
         pkg="controller_manager" type="spawner" output="screen"
	 args="GPSBaxterPlugin" />

</launch>
